* {
    box-sizing: border-box;
}

body {
    font-family: "SulSans", Helvetica, sans-serif;
    overflow-x: hidden;
    font-size: 16px;
    height: 100%;
    scroll-behavior: auto;
}

.margin-contents {
    margin-left: 25px;
    margin-right: 25px;
}

.card-figura {
    width: 372px;
    height: 200px;
}

.list {
    list-style: none;
    width: 100%;
}

ul {
    padding: 0;
}

.rating {
    color: #E7A74E;
}

.checked {
    font-weight: bold;
    color: #e7a74e;
    font-size: 0.875rem;
}

.cidades {
    align-items: center;
    margin-left: 10px;
}

.cidades a {
    color: red;
    cursor: pointer;
    padding-right: 30px;
    text-decoration: none;
    font-weight: 500;
}

.text-grid {
    padding: 10px 0px 11px 0px;
}

.vermais-btn {
    padding: 40px;
}

.vermais {
    width: 100%;
    border-radius: 5px;
    border: 1px solid #faebeb;
    background-color: transparent;
    height: 46px;
}

.vermais:hover {
    background-color: #EA202B;
    border-radius: 5px;
    height: 46px;
    color: #FFFFFF;
}

.filtro {
    border-radius: 22px;
    border: 1px solid #d8d8d8;
    margin-right: 10px;
    margin-left: 10px;
    padding: 5px 25px;
    cursor: pointer;
}

.card {
    border: 1px solid #d8d8d8;
    padding: 20px;
    margin: 10px;
    border-radius: 3px;
    min-height: 135px;
}

.card-ultimaslojas {
    border: 1px solid #d8d8d8;
    border-radius: 3px;
}

.contents-cards {
    border-left: 1px solid #d8d8d8;
    padding-left: 15px;
    height: 85px;
}

.gratis {
    color: #50A773;
}

.title-restaurant {
    font-size: 1rem;
    line-height: 1rem;
    font-weight: 600;
}

.cards-restaurant {
    font-weight: 300;
    font-size: 0.875rem;
    line-height: 1.0625rem;
    color: #717171;
    margin-top: 15px;
}

.restaurante-figure:hover {
    border: 1px solid #9d9d9d;
    cursor: pointer;
}

.img-card-radius {
    border-radius: 80px;
    width: 85px;
    height: 85px;
    max-width: 90px;
    margin-right: 20px;
}

.margin-tb {
    margin: 20px 0px 20px 0px;
}

.banner {
    justify-content: center;
    padding: 20px;
    width: 150.5px;
    height: 150.5px;
}

.banner-text {
    text-align: center;
    color: #717171;
}

.banner img {
    width: 100%;
    width: 150.5px;
    height: 150.5;
    max-width: 390px;
    margin: 0 10px;
    transition: 0.2s;
}

.banner img:hover {
    transform: scale(1.05);
    cursor: pointer;
    color: black;
}

.banner-text:hover {
    color: black;
    cursor: pointer;
}