.footer {
    border-top: 1px solid #dcdcdc;
    padding: 20px 0;
}

.align-text {
    margin-left: -29px;
}

.footer img {
    width: 50px;
}

.footer span {
    font-size: 0.8125rem;
    color: #818181;
    margin: 0 20px;
}

.footer__subtitle {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.22;
    margin-top: 0;
    margin-bottom: 30px;
    color: #3e3e3e;
}

.footer__text-link {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.22;
    color: #717171;
    transition: color 0.15s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    text-decoration: none;
    cursor: pointer;
}

.footer-contents {
    margin-left: 50px;
}

.footer-contents ul {
    padding-top: 15px;
}

.footer-icon {
    margin-right: 30px;
}

.footer__text-link:hover {
    color: black;
}

.footer-copy {
    width: 45%;
}

.footer-termos {
    padding-left: 15px;
}