.owl-prev,
.owl-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    border: 1px solid #000;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.owl-prev {
    left: -20px;
    display: flex;
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel button.owl-dot {
    border: 1px solid #c4c4c4 !important;
    border-radius: 100% !important;
    width: 39px !important;
    height: 39px !important;
    z-index: 1 !important;
    background-color: white !important;
}

.owl-next {
    right: -20px;
    display: flex;
}

.owl-prev i,
.owl-next i {
    color: rgb(140, 133, 133);
    font-size: 30px;
}

.owl-prev i:hover,
.owl-next i:hover {
    color: black;
}